[Unit]
Description=qcluster runner
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/planner-ai
ExecStart=/home/ubuntu/planner-ai/virt_env/bin/python manage.py qcluster

[Install]
WantedBy=multi-user.target