{% extends "base.html" %}
{% load static %}
{% block head_desc %}PlanerAI Web Chat{% endblock %}
{% block title %}Web Chat | PlannerAI{% endblock %}

{% block landing %}

    <!-- Create your content here. -->
    <!-- Code below only for you to know how to style and format. -->

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Welcome to <span>Planner-AI</span></h1>
        <h2>We are team of talented designers making websites with Bootstrap</h2>
        <div class="d-flex">
            <p class="btn-get-started">Test content</p>
        </div>
    </div>
{% endblock %}