{% extends "base.html" %}
{% load static %}
{% block head_desc %}PlanerAI Web Chat{% endblock %}
{% block title %}Web Chat | PlannerAI{% endblock %}

{% block page_content %}

    <!-- Create your content here. -->
    <!-- Code below only for you to know how to style and format. -->

    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1>Welcome to <span>Planner-AI</span></h1>
            <br/>
            <h2>Test content</h2>
        </div>
    </section>
{% endblock %}